.button {
  width: 40px;
  height: 40px;
display: flex;
border-radius: 100%;
background-color: #98CCFD;
border: none;
//   background-color: rgb(185, 10, 10);
}
input{
  background-image: url("https://thumbs.dreamstime.com/b/abstract-blue-pastel-blurred-smooth-background-color-gradient-wall-can-used-creative-concept-add-product-101948459.jpg");

}
.form-control{
  font-family: "Dancing Script";

  font-size: 50px;
  line-height: 20px;
}